version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: erp_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=poolasa@123
      - POSTGRES_DB=ERP_DB
    ports:
      - "5435:5432" # دسترسی از ویندوز با پورت 5488
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: erp_redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./ERPDotNet
      dockerfile: Dockerfile
    container_name: erp_api
    restart: always
    depends_on:
      - db
      - redis
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
      # تنظیمات داخلی داکر (اینجا لوکال‌هاست معنی ندارد، باید نام سرویس باشد)
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=ERP_DB;Username=postgres;Password=poolasa@123
      - ConnectionStrings__Redis=redis:6379
    ports:
      - "5000:5000"
    volumes:
      - ./ERPDotNet/ERPDotNet.API/wwwroot:/app/wwwroot

  frontend:
    build:
      context: ./erp-frontend
      dockerfile: Dockerfile
    container_name: erp_client
    restart: always
    depends_on:
      - backend
    environment:
      # بک‌اند داخل شبکه داکر با نام سرویس شناخته می‌شود
      - API_URL=http://backend:5000
      # اما مرورگر موبایل شما بک‌اند را با آی‌پی سیستم می‌شناسد
      - NEXT_PUBLIC_API_URL=http://${HOST_IP}:5000
    ports:
      - "3000:3000"

volumes:
  postgres_data:
